/* latin-ext */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v25/S6uyw4BMUTPHjxAwXjeu.woff2) format("woff2");
  unicode-range:
    U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F,
    U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v25/S6uyw4BMUTPHjx4wXg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: brand-font;
  src: local('Gill Sans'), url(../assets/font/gill-sans/Gill\ Sans.otf) format('opentype');
}

@font-face {
  font-family: brand-font-2;
  src: local('Gill Sans Condensed'), url(../assets/font/gill-sans/GillSans\ Condensed.otf) format('opentype');
}

* {
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --primary-color: #353b79;
  --secondary-color: #fab131;
  --tertiary-color: #af333e;
  --primary-color-light-90: #dcdeef;
  --primary-color-light-95: #eeeef7;
  --neutral-color-1: #ffffff;
  --neutral-color-2: #000000;
  /* font */
  --primary-font: brand-font, "Lato", sans-serif;
  font-size: 8px;
}

body {
  background-color: var(--neutral-color-1);
  font-family: var(--primary-font);
  font-size: 2rem;
}

header {
  background-color: var(--primary-color-light-95);
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
  position:sticky;
  top: 0;
  z-index: 30;
}

nav li{
  list-style: none;
  display: inline-block;
}

.site-logo {
  display: flex;
  column-gap: 1rem;
}

.logo-image {
  width: 64px;
  height: 45px;
}

.logo-image img {
  max-width: 100%;
}

.logo-text{
  line-height: 2rem;
}

.logo-text-big {
  font-size: 3rem;
}

.logo-text-small {
  font-size: 2rem;
}

.mobile-menu-toggle {
  appearance: none;
  border: none;
  background: none;
}

.mobile-menu-toggle .material-symbols-outlined {
  color: var(--primary-color);
}

.mobile-nav{
  left: 0;
  right: 0;
  top: 11.625rem;
  height:100vh;
  font-size: 2rem;
  text-decoration: none;
  position: sticky;
  z-index: 20;
  display: none;
  text-align: right;
}

.mobile-nav a{
  text-decoration: none;
  color: var(--neutral-color-2);
}

.mobile-nav a:visited{
  color:var(--neutral-color-2)
}

.mobile-nav a:active{
  color:var(--tertiary-color)
}

.mobile-nav li{
  padding-right: 6rem;
}

.mobile-nav li:not(:last-child){
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--primary-color-light-90);
}

.hero-section{
  background-color: var(--primary-color-light-90);
}

.hero-image{
  width: 32.5rem;
}

.hero-image img{
  max-width: 100%;
}

.hero-heading{
  font-size: 4rem;
}

.hero-paragraph{
  line-height: 3rem;
}

.hero-image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsl(0, 0%, 100%, 0%) 0%, 75%, var(--primary-color-light-90) 100%);
  display: flex;
  justify-content: center;
  align-items: end;
}

.hero-cta-box{
  background-color: var(--neutral-color-1);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 6rem;
  text-align: center;
}

.hero-cta-box .material-symbols-outlined{
  color: var(--secondary-color);
  font-size: 5rem;
}

.hero-cta-text-box{
  width: 18rem;
  font-weight: 600;
}
.hero-cta-text-big{
  font-size: 2rem;
}

.hero-cta-text-small{
  font-size: 1.5rem;
}

.hero-cta-button{
  appearance: none;
  background-color: var(--tertiary-color);
  color: var(--neutral-color-1);
  font-size: 2rem;
  font-weight: 600;
  padding: 3rem 0rem;
  width: 100%;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
}

.courses-category-display{
  background-color: var(--primary-color-light-95);
}

.course-category-menu-button{
  appearance: none;
  background-color: var(--primary-color);
  color: var(--neutral-color-1);
  font-size: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  font-family: brand-font-2, sans-serif;
  text-decoration: none;
}

.course-card{
  background-color: var(--primary-color-light-90);
  border: 1px solid var(--secondary-color);
}

.icon-filled{
  font-variation-settings: "FILL" 1;
}

.course-card .icon-filled{
  color: var(--primary-color);
}

.faq-item{
  border-bottom: 1px solid var(--secondary-color);
}

.faq-item summary::marker{
  content: '';
}

.faq-item summary .icon-filled::before{
  content: 'expand_circle_right';
  color: var(--primary-color);
}

.faq-item:open summary .icon-filled::before{
  content: 'expand_circle_down';
}

.faq-question{
  font-weight: 700;
}

.faq-answer, .contact-info-text-box{
  line-height: 1.5;
}

address{
  text-align: center;
}

.floating-action-button{
  position:fixed;
  right: 0;
  top: 50rem;
  z-index: 10;
  background-color: var(--neutral-color-1);
  border:1px solid var(--primary-color-light-90);
}

button{
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

.button-blue{
  appearance: none;
  border: none;
  border-radius: 2rem;
  background-color: var(--primary-color);
  color: var(--neutral-color-1);
  padding: 1rem 2rem;
  width: 100%;
}

.button-tertiary{
  appearance: none;
  border: none;
  border-radius: 2rem;
  background-color: var(--tertiary-color);
  color: var(--neutral-color-1);
  padding: 1rem 2rem;
  width: 100%;
}

.bordered-box-secondary-1{
  border: 1px solid var(--secondary-color);
}

.text-bold-underlined{
  font-weight: 700;
  text-decoration: underline;
}

.container{
  padding: 2rem;
}

.section-container{
  padding: 4rem 3rem;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-row{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flex-gap-2{
  gap: 3rem;
}

.flex-gap-3{
  gap: 3rem;
}

.flex-center-aligned{
  align-items: center;
}

.flex-space-between{
  justify-content: space-between;
}

.full-width{
  width: 100%;
}

.menu-list-item{
  list-style: none;
}

.positioned-relative{
  position: relative;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  border: 0;
}

.shaded-box-primary{
  background-color: var(--primary-color-light-90);
}

.shaded-box-secondary{
  background-color: var(--secondary-color);
}

.shaded-box-primary-light{
  background-color: var(--primary-color-light-95);
}

.text-box-trimmed{
  text-box: trim-both cap alphabetic;
}

.no-scroll{
  overflow: hidden;
}

.show{
  display: block;
}

.error-message{
  color: red;
  font-size: 1.5rem;
}

input[type=text], input[type=tel]{
  box-sizing: border-box;
  padding: 0 1rem;
}

::placeholder{
  font-family: var(--primary-font);
}