:root {
  --primary-color: #353b79;
  --secondary-color: #fab131;
  --tertiary-color: #af333e;
  --primary-color-light-90: #dcdeef;
  --primary-color-light-95: #eeeef7;
  --neutral-color-1: #ffffff;
  --neutral-color-2: #000000;
}

body {
  background-color: var(--primary-color-light-90);
}
